<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page_title|default('') }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/yamahasite/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ asset('bundles/yamahasite/css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/yamahasite/css/starter-template.css')}}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="{{ asset('bundles/yamahasite/js/ie8-responsive-file-warning.js') }}"></script><![endif]-->
    <script src="{{ asset('bundles/yamahasite/js/ie-emulation-modes-warning.js') }}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

{{ render(
    controller(
        'YamahaSiteBundle:Menu:main', {'currentLocationId': '2'}
    )
) }}

<div class="container">

{% block content %}{% endblock %}

{% block footer %}
    <hr />
    {% trans %}footer.copyright{% endtrans %}
{% endblock %}

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ asset('bundles/yamahasite/js/vendor/jquery.min.js') }}"><\/script>')</script>
<script src="{{ asset('bundles/yamahasite/js/bootstrap.min.js')}}"></script>

</body>
</html>
