{% extends "pagelayout.html.twig" %}

{% set page_title = ez_content_name(content) %}

{% block content %}

    <h1>{{ ez_render_field(content,"title") }}</h1>
    <div class="row">
        <div class="col-md-6">

            {{ ez_render_field(content,"description") }}

        </div>
    </div>

{% endblock %}

