{% extends "pagelayout.html.twig" %}

{% set page_title = ez_content_name(content) %}

{% block content %}
    <h1>{{ ez_content_name(content) }}</h1>

    <h2>Product categories</h2>

    <ul>
    {% for product_category in product_categories %}
        <li><a href="{{ path(product_category.location) }}">{{ ez_content_name(product_category.content) }}</a>
    {% endfor %}
    </ul>

{% endblock %}