{% extends "pagelayout.html.twig" %}

{% set page_title = ez_content_name(content) %}

{% block content %}

    <h1>{{ ez_render_field(content,"title") }}</h1>
    <div class="row">
        <div class="col-md-6">

            {{ ez_render_field(content,"description") }}

            <ul>
                {% for product in products %}
                    <li><a href="{{ path(product.location) }}">{{ ez_content_name(product.content) }}</a></li>
                {% endfor %}
            </ul>

        </div>
    </div>

{% endblock %}

{% block footer %}
    <hr />
    <p>Special footer for product_category</p>

    {% trans %}footer.copyright{% endtrans %}
{% endblock %}


