
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path( "ez_urlalias", {"locationId": 2} ) }}">{% trans %}header.site_title{% endtrans %}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                {% for menu_item in menuItems %}
                <li><a href="{{ path(menu_item.location) }}">{{ ez_content_name(menu_item.content) }}</a></li>
                {% endfor %}

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
